


#config_page #choixJeu{
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#config_page #jeu1, #config_page #jeu2{
	height: 15vh;
	width: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	background-color: var(--button-color);

	border-radius: 6px;
}

#config_page #jeu1:hover, #config_page #jeu2:hover{
	box-shadow: 1px 1px 5px 1px black;
	cursor: pointer;
	background-color: var(--main-bg-color);
	color: white;
	transition: 0.3s;
}

#config_page #jeu1 #petit, #config_page #jeu2 #petit{
	font-size: 1.1em;
}

#config_page #choixJeu p, #config_page #choixDifficulte p{
	margin: 10px;
	font-size: 1.5em;
}

#config_page #choixDifficulte{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#config_page #choixDifficulte a{
	margin: 1.2vh;
	height: 50px;
	width: 100px;
	font-size: 1.2em;
	border-radius: 6px;
	background-color: var(--button-color);
	display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

#config_page #choixDifficulte a:hover{
	background-color: white;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
    transition: 0.2s;
}
