

#hiragana_page img{
	height: 80vh;
	width: 70vh;
}

#hiragana_page{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#hiragana_page h3{
	text-align: center;
	margin-bottom: 5px;
}
#hiragana_page #textRight{
	text-align: right;
	margin-right: 6vh;
}
#hiragana_page #textLeft{
	text-align: left;
	margin-left: 6vh;
}

#hiragana_page #left, #hiragana_page #right{
	margin: 4vh;
}

#hiragana_page .lecon{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#hiragana_page .lecon .button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.1em;
}

#hiragana_page .lecon a{
	text-decoration: none;
    color: black;
    font-size: 1em;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 1vh;
    padding: 8px;
    background-color: lightgrey;
    border-radius: 5px;
}
#hiragana_page .lecon a:hover{
	background-color: var(--main-bg-color);
	color: white;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
    transition: 0.2s;
}


#hiragana_page table{
	border-collapse: collapse;
  	border-spacing: 0;
}

#hiragana_page .voc{
	border: 1px solid black;
	background-color: var(--button-color);
	height: 50px;
	width: 40px;
	text-align: center;
	font-size: 1.2em;
}


#hiragana_page .lecon:hover{
	box-shadow: 2px 2px 5px 1px black;
	translate: -1px -1px;
	/*cursor: pointer;*/
	background-color: var(--main-bg-color);
	border-radius: 5px;
	transition: 0.5s;
}
#hiragana_page .voc:hover{

	box-shadow: 1px 1px 5px 1px black;
	cursor: pointer;
	background-color: var(--main-bg-color);
	color: white;
	transition: 0.3s;
}

#hiragana_page #displayWriting{
	/*display: none;*/
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	height: 35vh;
  	width: 35vh;
	border-radius: 5px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 2px 2px 5px 2px black;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#hiragana_page #displayWriting #img{
	height: 25vh;
  	width: 30vh;
  	border-radius: 5px;
	/*background: url("../assets/writing/hiragana/あ.png");
	background-size: cover;*/
}


#hiragana_page #displayWriting #btn{
	margin: 2vh;
	height: 40px;
	width: 80px;
	border-radius: 6px;
	background-color: lightgrey;
	display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
#hiragana_page #displayWriting #btn:hover{
	background-color: #e66157;
	color: white;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
    transition: 0.2s;
}