
.main a{
    margin: 2em;
    height: 60px;
    width: 200px;
    border-radius: 6px;

    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgrey;

}


.main a:hover{
    background-color: white;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
    transition: 0.2s;
}

.main p{
    position: absolute;
    top: 20vh;
    left: 10vh;
}