

#home_page a{
    margin: 2em;
    height: 8vh;
    width: 24vh;
    border-radius: 6px;

    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: lightgrey;*/
    background-color: var(--button-color);

}


#home_page a:hover{
    background-color: white;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
    transition: 0.2s;
}

#home_page p{
    position: absolute;
    top: 10vh;
    left: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    background-color: var(--main-bg-color);
    
    
    border-radius: 5px;
    margin: 5vh;
    color: white;
    padding: 3vh;

    font-size: 1em;
}