.main img{
	height: 80vh;
	width: 70vh;
}

.main{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.main h3{
	text-align: center;
	margin-bottom: 5px;
}
#textRight{
	text-align: right;
	margin-right: 6vh;
}
#textLeft{
	text-align: left;
	margin-left: 6vh;
}

#left, #right{
	margin: 4vh;
}

.lecon{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.lecon .button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.1em;
}

.lecon a{
	text-decoration: none;
    color: black;
    font-size: 1em;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 1vh;
    padding: 8px;
    background-color: lightgrey;
    border-radius: 5px;
}
.lecon a:hover{
	background-color: #296487;
	color: white;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
    transition: 0.2s;
}


table{
	border-collapse: collapse;
  	border-spacing: 0;
}

.voc{
	border: 1px solid black;
	background-color: whitesmoke;
	height: 50px;
	width: 40px;
	text-align: center;
	font-size: 1.2em;
}


.lecon:hover{
	box-shadow: 2px 2px 5px 1px black;
	translate: -1px -1px;
	/*cursor: pointer;*/
	content: "Jouer";
	transition: 0.5s;
}
.voc:hover{

	box-shadow: 1px 1px 5px 1px black;
	cursor: pointer;
	background-color: #296487;
	color: white;
	transition: 0.3s;
}


