* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: cursive;
	vertical-align: baseline;
	--main-bg-color: rgba(140, 80, 100);
	--button-color: rgba(255,255,255);
}

.header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

	background-color: var(--main-bg-color);
	overflow: hidden;
	height: 10vh;
	color: white;
    box-shadow: 3px 3px 15px 2px black;
}
.header h1{
	/*margin: 3vh;*/
	font-size: 1.5em;
}
.header a{
	margin: 2vh;
	height: 40px;
	width: 80px;
	border-radius: 6px;
	background-color: var(--button-color);
	display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.header a:hover{
	background-color: white;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
    transition: 0.2s;
}

.main{
	min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
	height: 10vh;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background-color: var(--main-bg-color);
    color: white;
}
